<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.colormindapps.rest_reminder_alarm"
    android:versionCode="9">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data tools:replace="android:value"
            android:name="android.support.VERSION"
            android:value="26.1.0"/>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".wear.WearMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".wear.WearOnAlarmReceiver" />

        <service android:name=".wear.WearPeriodService" />

        <activity
            android:name=".wear.CommandsActivity"
            android:label="@string/title_activity_commands"
            android:launchMode="singleTask"/>
    </application>

</manifest>