<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.colormindapps.rest_reminder_alarm.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.WorkRestTheme.NoActionBar"></activity>
        <activity
            android:name="com.colormindapps.rest_reminder_alarm.SessionDetailsActivity"
            android:label="@string/title_activity_session_details"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.WorkRestTheme.NoActionBar" />
        <activity
            android:name="com.colormindapps.rest_reminder_alarm.SessionDetailsViewActivity"
            android:label="@string/title_activity_session_details"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.WorkRestTheme.NoActionBar" />
        <activity
            android:name="com.colormindapps.rest_reminder_alarm.StatsActivity"
            android:label="@string/title_activity_session_details"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.WorkRestTheme.NoActionBar" />
        <activity
            android:name="com.colormindapps.rest_reminder_alarm.SessionsListActivity"
            android:label="@string/title_activity_sessions"
            android:resizeableActivity="false" />
    </application>

</manifest>