<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colormindapps.rest_reminder_alarm">


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.WorkRestTheme"
        android:name=".MyApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WorkRestTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PreferencesNoOverlayActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.colormindapps.rest_reminder_alarm.MainActivity" />
        </activity>

        <receiver android:name=".MobileOnAlarmReceiver" />

        <service android:name=".PlaySoundService" />
        <service android:name=".MobilePeriodService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name=".CounterService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/counter_on" />

        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_notification"
            android:taskAffinity=""
            android:theme="@style/NotificationActivity"></activity>
        <activity
            android:name=".ManualActivity"
            android:label="@string/manual_activity_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.colormindapps.rest_reminder_alarm.MainActivity" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
        enable for testing purposes only
        <service android:name="rest_reminder_alarm_alarm.NLService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        -->

    </application>

</manifest>